.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  padding-top: 30px;
  padding-bottom: 20px;
}

div > h2 {
  color: #f09850;
  text-shadow: 1px 1px whitesmoke;
  padding-top: 20px; 
}

img.ui {
  margin: 0 auto;
 }
 


.wrapper {
  width: 80%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }

 .card-details {
   width: 90%;
   text-align: left;
   margin: 0 auto;
   padding-bottom: 20px;
   padding-top: 20px;
 }
 
 .attribute {
   color: #f09850;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

div > .ui.button {
  color: orange;
  font-size: 1rem;
  margin-bottom: 20px;
}

div > .header {
  font-size: 2rem;
  padding-bottom: 10px;
  color: #f09850;
  text-shadow: 1px 1px black;
}

.card-details-container {
  display: flex;
  flex-direction: column;
}
/* write your parent styles in here for your App.js */
